.DS_Store

fish/.config/fish/fishd.*
fish/.config/fish/fish_history
fish/.config/fish/conf.d/macos

fish/.config/fish/completions/docker-compose.fish
fish/.config/fish/completions/docker.fish

*.log

/.gitconfig
vim/.vim/.netrwhist

lnav/.lnav/*
!lnav/.lnav/formats

tmux/.config/tmux/plugins
